html, .view body {
    background-color: #000;
    color: #333;
    counter-reset: slideidx;
}

body, .view section {
    background-color: #FCF9F0;
    border-radius: 5px;
    text-align: center;
}

/* A section is a slide. It's size is 1280x720, and this will never change */
section, .view head > title {
    /* The font from Google */
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 30px;
}

section {
    padding: 0 100px;
}

.view section:after {
    counter-increment: slideidx;
    content: counter(slideidx, decimal-leading-zero);
    position: absolute;
    bottom: -80px;
    right: 100px;
    color: white;
}

.view head > title {
    color: white;
    text-align: center;
    margin: 1em 0 1em 0;
}

section.background-image {
    background-size: cover;
}

h1 {
    margin-top: 350px;
    font-family: "Permanent Marker", sans-serif;
    font-size: 96px;
    line-height: 0.8;
    color: #6A3089;
}

h1 span {
    font-size: 72px;
}

h1 small {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #666;
}

h2 {
    /* margin-top: 400px; */
    font-weight: 700;
    font-size: 72px;
    color: #6A3089;
}

h3 {
    font-size: 48px;
}

small, small a {
    color: #666;
}

p {
    margin: 75px 0;
    font-size: 35px;
}

p.big-text {
    font-size: 110px;
    text-align: justify;
    text-transform: uppercase;
    color: #FE4B75;
    padding: 100px;
}

a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:hover:active {
    text-decoration: underline;
}

.abbr {
    font-weight: normal;
    letter-spacing: 2px;
}

.abbr b {
    color: #6A3089;
}

ul#toc{
    list-style: none;
    color: #666;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

blockquote {
    border-left: lightgrey solid 5px;
    font-size: 48px;
    margin: 150px;
    padding: 25px;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

.container {
    width: 100%;
}

/* Figures are displayed full-page, with the caption
on top of the image/video */
figure {
    background-color: black;
    width: 100%;
    height: 100%;
}

figure > * {
    position: absolute;
}

figure > img, figure > video {
    width: 100%;
    height: 100%;
    margin: 0 -200px;
}

/* Images */

.img-contain {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.img-lg {
    width: 100%;
}

.img-md {
    width: 80%;
}

.img-sm {
    width: 40%;
}

.img-shadow {
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.4);
}

.list-codes {
    max-width: 400px;
    margin: 20px auto;
    list-style: none;
    text-align: left;
    line-height: 2;
}

code {
    padding: 0.3em;
    margin: 0;
    font-size: 85%;
    background-color: #f2f2f2;
    border: solid 2px #e2e2e2;
    border-radius: 10px;
}

code em {
    font-style: normal;
    font-weight: bold;
    color: #6A3089;
}

pre code {
    display: block;
    padding: 0.3em 0.5em;
    margin: 0 auto;
    max-width: 800px;
    overflow-x: scroll;
    text-align: left;
}

.img-rounded {
    border-radius: 5px;
}

figcaption {
    margin: 50px 50px 50px -200px;
    padding: 5px 20px 5px 70px;
    border-radius: 0 5px 5px 0;
    background: white;
    font-size: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 30px;
    text-align: right;
    color: #6A3089;
    font-weight: bold;
    font-size: 20px;
    margin: 0 -200px;
}

.hcenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vcenter.hcenter {
    transform: translate(-50%,-50%);
}

/* Transition effect */
/* Feel free to change the transition effect for original
animations. See here:
https://developer.mozilla.org/en/CSS/CSS_transitions
How to use CSS3 Transitions: */
section {
    -moz-transition: left 400ms linear 0s;
    -webkit-transition: left 400ms linear 0s;
    -ms-transition: left 400ms linear 0s;
    transition: left 400ms linear 0s;
}

.view section {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

.view section[aria-selected] {
    border: 5px red solid;
}

/* Before */
section {
    left: -150%;
}

/* Now */
section[aria-selected] {
    left: 0;
}

/* After */
section[aria-selected] ~ section {
    left: +150%;
}

/* Incremental elements */

/* By default, visible */
.incremental > * {
    opacity: 1;
}

/* The current item */
.incremental > *[aria-selected] {
    opacity: 1;
}

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * {
    opacity: 0;
}

/* The progressbar, at the bottom of the slides, show the global
progress of the presentation. */
#progress-bar {
    height: 2px;
    background: #AAA;
}

video#bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-filter: brightness(0.3);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

img#bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-filter: brightness(0.3);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

iframe { 
    display:block; 
    margin: 0 auto;
}


#toc {
    margin-top: 40px;
}
